<!DOCTYPE html>
<html lang="en" ng-app="IndexApp">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet">
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <script src="scripts/angular-animate.js"></script>
    <script src="scripts/jquery-3.6.0.min.js"></script>

    <script src="index.js"></script>
    <title>Curriculum Vitae</title>
</head>

<body ng-controller="IndexController">

    <nav> 
        <ul>
            <li><a href="#top">Top</a></li>
            <li><a href="#experiences">Expériences</a></li>
            <li><a href="#diplomes">Diplômes</a></li>
            <li><a href="#skills">Compétences</a></li>
            <li><a href="#projets">Projets</a></li>
            <li><a href="#infoComplementaires">Autre</a></li>
        </ul>
    </nav>

    <header>
        <h2>Anaïs TORRES</h2>
        <h1>Développeuse Front-End</h1>
        <i>Développeuse full-stack de formation, je souhaite plus particulièrement travailler dans le développement
            front-end et je suis ouverte à des opportunités internationales.</i>
    </header>

<div class="headerMobile">
        <span>Anaïs TORRES</span>
        <span><b>Développeuse Front-End</b></span></div>

    <!--thème sombre variables css 
    navbar perd opacité quand passe en scroll -->
    <!--PRESENTATION-->

    <section id="presentation">
        <h1>PRESENTATION</h1>
        <div class="presentation">
            <div>
                <img class="portrait" src="ressources/20191122_205452.jpg">
            </div>
            <div class="resume">

                <span>Développeuse full-stack de 28 ans, je suis dans le domaine depuis peu après une reconversion
                    professionnelle.
                    Technicienne en biologie de base, j'ai découvert le développement web en 2017 et ai décidé de m'y
                    former afin d'en faire mon métier.
                    J'ai pu découvrir de nombreuses technologies durant ma deuxième année de formation en apprentissage
                    au sein d'une entreprise de e-commerce et j'y ai approfondi ma passion pour le développement web, en
                    particulier le front-end.
                    <br>      <br>
                    Je suis aujourd'hui à la recherche d'opportunités dans le développement front-end et
                    l'international m'attire énormément. Je prends des cours d'anglais pour le passage de la certification B2 First,
                    anciennement Cambridge English afin de m'améliorer.
                    <br>      <br>
                    Je suis motivée, je sais travailler aussi bien en toute autonomie qu'en équipe et je m'adapte facilement à un nouvel environnement.
                    <br>      <br>
                    J'ai un fort intérêt pour le développement web, l'informatique dans sa globalité et les sciences de manière générale. Je fais donc mon possible pour toujours connaître les dernières actualités.
                </span>
            </div>
            
        </div>
    </section>


    <!-- EXPERIENCES -->
    <section id="experiences">
        <h1>EXPERIENCES PROFESSIONNELLES</h1>
        <div class="experiences">
            <fieldset class="carteExp">
                <h1>Développeuse full-stack </h1>
                <h3>Creo Ignem</h3>
                <div ng-show="detailsCreo == false">
                    <img src="ressources/creo.png">
                    <span> 2021-2022, Anzin</span>
                </div>
                <p ng-show="detailsCreo == true">
                    Stage de <b>cinq mois + une année d'apprentissage</b>
                    <br> <br>
                    Développement <b>full-stack</b>, majoritairement <b>front-end</b>
                    <br> <br>
                    <b>E-commerce</b>
                    <br> <br>
                    Elaboration d'une borne de commande pour King Jouet, avec AngularJS / TypeScript, C# en back et une
                    base de données relationnelle
                </p>
                <span class="detailsBouton" ng-click="detailsCreo = false" ng-show="detailsCreo == true">▹ Retour
                    ◃</span>
                <span class="detailsBouton" ng-click="detailsCreo = true" ng-hide="detailsCreo == true">▹ Détails
                    ◃</span>
            </fieldset>


            <fieldset class="carteExp">
                <h1>Téléconseillère / Télévendeuse </h1>
                <h3>Comdata Group</h3>
                <div ng-show="detailsComdata == false">
                    <img src="ressources/comdata.png">
                    <span>Octobre 2016 - Octobre 2018, Valenciennes</span>
                </div>
                <p ng-show="detailsComdata == true">
                    <b>SFR entrant :</b> service client avec vente d'abonnements fibre optique
                    <br><br>
                    <b>La Poste :</b> service réclamation
                    <br><br>
                    <b>Aviva :</b> vente d'assurances obsèques
                    <br><br>
                    <b>Engie Home Services :</b> conseil et vente de contrats d'entretien
                    <br><br>
                    <b>SFAM :</b> vente d'assurances pour électroménager
                </p>
                <span class="detailsBouton" ng-click="detailsComdata = false" ng-show="detailsComdata == true">▹ Retour
                    ◃</span>
                <span class="detailsBouton" ng-click="detailsComdata = true" ng-hide="detailsComdata == true">▹ Détails
                    ◃</span>
            </fieldset>
            <fieldset class="carteExp">
                <h1>Technicienne Supérieure de laboratoire </h1>
                <h3>Centre National de Recherche Scientifique</h3>
                <div ng-show="detailsCNRS == false">
                    <img src="ressources/cnrs.png">
                    <span>2014, Lille</span>
                </div>
                <p ng-show="detailsCNRS == true">
                    Unité de <b>Glycobiologie Structurale et Fonctionnelle</b>
                    <br><br>
                    Etude de la production d'amidon chez la microalgue <i>Chlamydomonas reinhardtii</i> grâce à la
                    création de mutants et l'étude de leur ADN
                    <br><br>

                </p>
                <span class="detailsBouton" ng-click="detailsCNRS = false" ng-show="detailsCNRS == true">▹ Retour
                    ◃</span>
                <span class="detailsBouton" ng-click="detailsCNRS = true" ng-hide="detailsCNRS == true">▹ Détails
                    ◃</span>
            </fieldset>
        </div>
    </section>

    <!-- FORMATIONS -->
    <section id="diplomes">
        <h1>Diplômes</h1>
        <ul>
            <li>
                <span class="titre">Titre professionnel Concepteur et Développeur d'Applications</span>
                <span class="date"> 2022, Valarep - Valenciennes</span>
                <!--FLECHE Introduction Java, Symfony, AngularIO etc -->
            </li>
            <li>
                <span class="titre">Titre professionnel Développement Web et Web Mobile</span>
                <!--Base de la programmation, HTML/CSS, JS, php, bases de données relationnelles et non relationnelles -->
                <span class="date"> 2021, Valarep - Valenciennes</span>
            </li>
            <li>
                <span class="titre">Brevet de Technicien Supérieur Bioanalyses et Contrôles </span>
                <span class="date"> 2014, Lycée de l'Escaut - Valenciennes </span>
            </li>
            <li>
                <span class="titre">Baccaulauréat Général Scientifique </span>
                <span class="date"> 2012, Lycée de l'Escaut - Valenciennes </span>
            </li>
        </ul>
    </section>


    <!-- SKILLS -->
    <section id="skills">
        <h1>Compétences en développement web</h1>

        <div class="skills">
            <ul class="front">
                <h2>Front-End</h2>
                <li><b>HTML</b></li>
                <li><b>CSS : </b>top 5% du badge de compétence Linkedin</li>
                <li><b>JavaScript :</b> utilisé depuis deux ans pour tout type de projet</li>
                <li><b>AngularJS :</b> utilisé depuis un an durant mon année d'apprentissage et dans quelques projets personnels</li>
                <li><b>TypeScript : </b>utilisé avec AngularJS et AngularIO </li>
                <li><b>AngularIO : </b>utilisé depuis un an en cours</li>
                <li><b>Ajax :</b> utilisé dans la création d'API durant mon apprentissage</li>
                <li><b>JQuery : </b>utilisé pour certaines fonctionnalités durant mon apprentissage</li>
            </ul>
            <ul class="back">
                <h2>Back-End</h2>
                <li><b>C# : </b>utilisé durant mon année d'apprentissage </li>
                <li><b>Framework .NET  </b></li>
                <li><b>Unity :</b> Très légère notion, suivi de cours sur mon temps libre</li>
                <li><b>Java :</b> vu en cours pendant un an et utilisé dans l'élaboration d'un mini jeu</li>
            </ul>
            <ul class="environnement">
                <h2>Autres</h2>
                <li><b>Attestation RGPD : </b>MOOC de la Cnil</li>
                <li><b>Visual Studio Pro : </b>IDE principalement utilisé</li>
                <li><b>Visual Studio Code : </b>IDE utilisé pour du pur front</li>
                <li><b>Git : </b>utilisé pour le travail en équipe et la sauvegarde des projets</li>
                <li><b>Modélisation UML </b></li>
                <li><b>Méthode Agile </b> </li>
                <li><b>Bases de données : </b>relationnelles et non relationnelles</li>
                <li><b>SQL : </b>requête en base de données</li>
            </ul>
        </div>
    </section>

    <!--PROJETS-->
    <section id="projets">
        <h1>Projets</h1>
        <ul>
            <li><a href="http://niwawa.sianadoe.fr/">
                <span>Niwawa ➚</span></a>
                <span class="description">Site vitrine pour tester la personnalisation d'un lecteur audio en JavaScript</span>
            <img src="ressources/niwawa.PNG">
        </li>
            <li><a href="http://clickclick.sianadoe.fr/">
                <span>Click ➚</span></a>
                <span class="description">Site vitrine pour tester le dessin en CSS</span>
            <img src="ressources/click.PNG">
            </li>
            <li><a href="http://memory.danays.sianadoe.fr/"><span>Memory ➚</span></a>
                <span class="description">Jeu de memory en collaboration avec un camarade</span>
                <img src="ressources/memory.PNG"></li></li>
            <li><a href="http://ahraproject.com/"><span>Ahra ➚</span></a>
                <span class="description">Aide à la création d'un site de présentation de jeu (en cours)</span>
                <img src="ressources/ahra.PNG"></li>
            <li>
              <a><span>Low Geeks</span></a> 
              <span class="description">Participation à la création d'une communauté de développeurs sur discord</span>
           <img src="ressources/discord.png">
            </li>
            <li>
                <a href="https://github.com/SianaTDoe/SeasonChallenge"><span>Season Challenge ➚</span></a> 
                <span class="description">Jeu en Java pour un projet de cours </span>
             <img src="ressources/season.png">
              </li>
        </ul>
    </section>

    <!-- AUTRES -->
    <section id="infoComplementaires">
        <h1>Informations complémentaires</h1>
        <div class="skills">
        <ul class="autresSkills">
            <h2>Compétences</h2>
            <li>Permis B</li>
            <li>Cours de droit</li>
            <li>Brevet de Secourisme PSC1</li>
    <li>Formation Techniques de vente par téléphone</li>
    <li>Formation en Naturopathie</li>
    <li>Comptabilité</li>
            <li>Ecriture de textes</li>
            <li>Retouche / montage photo</li>
            <li>Bénévolat pour l'organisation d'animations pour des associations</li>
            
        </ul>
        
        <ul>
            <h2>Loisirs / intérêts</h2>
            <li>Dessin</li>
            <li>Sport (musculation, cardio, marche)</li>
            <li>Jeux Vidéos</li>
            <li>Informatique</li>
            <li>Sciences</li>
        </ul>
        <ul>
            <h2>Langues</h2>
            <li>Français : langue maternelle</li>
            <li>Anglais : niveau intermédiaire</li>
            <li>Espagnol : compris</li>
        </ul>
        </div>
    </section>

 <!-- CONTACT -->
 <footer id="contact">
    <h1>Contacts</h1>
        <ul class="liens">
            <li> <a href="https://www.linkedin.com/in/ana%C3%AFs-torres-286271239/"><img src="ressources/linkedin.png"></a>  </li>
       <li class="symbole mail">✧</li>
       <li class="mail"> <a><span class="icone">✉</span> 
        <span>anaistorres.dev@gmail.com</span></a></li>
        </ul>
    </footer>

</body>

</html>