body, html{
    margin:0;
    padding:0;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

section {
    padding: 1rem;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


section>h1, #contact h1 {
    background-image: url(ressources/bgUn.avif);
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 1.5em;
}

header {
    display: block;
    background-image: url(ressources/bgUn.avif);
    background-repeat: no-repeat;
    height: 900px;
    color: white;
    padding: 18rem 11rem 0 20rem;
    font-size: 1.5rem;
}

.headerMobile {
    display: none;
}

header h2 {
    font-weight: normal;
    margin: 0
}

header h1 {
    margin: 0
}


/* PRESENTATION */ 

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.presentation .portrait {
    border-radius: 50%;
    width: 300px;
}

.presentation .resume {
    text-align: justify;
    width: 50%;
}




.resume>span {
    font-size: 1.2rem;
    text-align: justify;
}


/* NAVBAR */

nav {
    background-color: #02082c99;
    position: fixed;
    width: 100%;
}

nav ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 3rem;
    justify-content: flex-end;
    font-size: 1rem;
}

nav li {
    width: 8rem;
    text-align: center;
}

nav a {
    color: white;
    text-transform: uppercase;
}

/*********** EXPERIENCES ***********/

#experiences {
    background-color: #EBEBEB;
}


.experiences {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    width: 90%;
}

.carteExp {
    width: 20%;
    margin: 1rem;
    background-color: #b5dedf8a;
    text-align: center;
    height: 470px;
    position: relative;
    color: #3a3939;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 14px;
}

.carteExp div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carteExp h1 {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carteExp h3 {
    height: 50px;
}

.carteExp img {
    border-radius: 50%;
}

.carteExp span {
    margin-top: 2rem;
}

.carteExp p {
    text-align: justify;
    padding: 0 2%;
    margin-top: 0;
}


.detailsBouton {
    /*border: 1px solid grey;*/
    background-color: white;
    color: black;
    padding: 0 3px;
    position: absolute;
    bottom: 12px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 125px;
}

/*********** DIPLOMES ***********/

#diplomes ul {
    width: 80%;
    margin: auto;
}

#diplomes li {
    background-color: #8974df94;
    border-radius: 9px;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#diplomes .titre {
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

#diplomes .date {
    color: #ffffffbf;
    font-size: 1rem;
}



/*********** SKILLS ***********/

#skills, #infoComplementaires {
    background-color: #EBEBEB;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.skills ul {
    background-color: #b5dedf8a;
    color: #3a3939;
    border-radius: 9px;
    padding: 1rem;
    margin: 1rem;
    width: 20rem;    
    height: 27rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.skills ul h2 {
    margin: 0
}



/* CONTACT */ 

#contact {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100px;
    align-items: center;
}

.liens {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

#contact .icone {
    font-size: 1.7rem;
}

#contact li {
width: 1rem
}

#contact .symbole {
    font-size: 2rem;
}

#contact a img {
    width: 3rem
}


#contact a {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
}


/****** PROJETS ******/ 

#projets ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#projets ul li {
    width: 25%;
    height: 200px;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 14px;
    padding: 1rem;
    background-color: #8974df94;
}

#projets ul li a {    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: white
}

#projets .description {
    text-align: center;
    font-size: 0.9rem;
    font-style: italic;
}

#projets img {    
    width: 70%;
}


@media (max-width: 750px) {

    nav {
        display: none;
    }

   /* nav ul {
        height: 10rem;
        justify-content: center;
    }

 nav li {
    writing-mode: vertical-lr;
    text-orientation: upright;
    letter-spacing: -3px;
    font-size: 0.8rem;
    margin: 0 1.3rem;
 }*/

 section {
    
    height: 100%;
 }

 header {    
    display: none;
}

.headerMobile {
    display: flex;
    background-color: #b5dedf8a;
    flex-direction: column;
    color: white;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
}

.presentation {
    flex-direction: column;
}

.presentation .portrait {
    width: 200px;
}
.presentation .resume {
    width: 90%;
}

.carteExp {
    width: 80%;
}

#diplomes ul {
    margin: 0;
}

#diplomes li {
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

#projets ul {    
    justify-content: center;
}

#projets ul li {
    width: 70%;
}

.carteExp p {
    font-size: 0.8rem;
}

 .skills {
    display: flex;
    align-items: center;
    flex-direction: column;
 }

 .skills ul {
    width: 16rem;
 }

 .liens {
    width: 100%;
 }

 .mail {
    display: none;
 }
}